# TIRIS Backend API Configuration
VITE_API_BASE_URL=https://backend.tiris.ai/v1

# TIRIS Bot API Configuration
VITE_BOT_API_BASE_URL=https://bot.tiris.ai/api/v1

# TIRIS Icon Service Base URL (for exchange logos, etc.)
VITE_ICON_SERVICE_BASE_URL=https://bot.tiris.ai

# Performanc demonstration trading id
VITE_DEMO_TRADING_ID=79613eee-ff87-4ed6-88cd-334a993fccbc