services:
  portal:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:80"
    restart: always
    image: ghcr.io/alexliao/tiris-portal:${IMAGE_TAG:-latest}
    container_name: tiris-portal
